* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-primary-color: #512DA8;
    --light-primary-color: #D1C4E9;
    --primary-color: #673AB7;
    --text-icons: #FFF;
    --acent-color: #8BC34A;
    --primary-text: #212121;
    --secondary-text: #757575;
    --divider-color: #BDBDBD;
}

body {
    background: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;

}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 1rem;
}

#form {
    width: 23vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    background-color: #FFF;
    border: 1px solid #C5C5C5;
    border-radius: 4px;
    box-shadow: 5px 5px 20px 0px #000000;
}

#logo {
    width: 10vw;
    margin: 1rem 0;
}

#answer {
    font-size: 0.95rem;
    margin-bottom: 2rem;
}

#email, #password, #login, #name, #checkpswd, #apartment, #create, #remove {
    width: 100%;
    margin-bottom: 1rem;
    border:#757575 1px solid;
    border-radius: 5px;
    padding-left: 0.5rem;
    height: 5vh;
}

#login, #create {
    background-color: #76BB4C;
    cursor: pointer;
}

#remove {
    background-color: #f03a22da;
    cursor: pointer;
}

#create_user {
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    color:#212121;
    margin-bottom: 1rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    box-shadow: inset 0px 1px 4px 0px rgba(0,0,0,0.8);
    background-color: #FFF;
}

header section {
    display: flex;
    justify-content: center;
    align-items: center;
}

header section h4 {
    margin-right: 1rem;
    color: var(--acent-color);
    font-weight: 400;
}

header section a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1rem;
}

#logo-header {
    width: 20vw;
}

main {
    width: 100vw;
    display: flex;
    justify-content: center;
}

#container {
    border-right: 1px solid #BDBDBD;
    border-left: 1px solid #BDBDBD;
    width: 70vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #FFF;
    padding: .5rem;

}

#message_content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid #BDBDBD;
}

#message_content section{
    display: flex;
    align-items: center;

}

#publicate {
    background-color: var(--dark-primary-color);
    border-radius: 30px;
    padding: 0.1rem 3.5rem;
    text-decoration: none;
    color: var(--text-icons);
    font-weight: 400;
    margin-bottom: 1rem;
    opacity: 0.9;
}

#publicate:hover {
    opacity: 1;
}

textarea {
    width: 55vw;
    height: 5vw;
    margin: .5rem;
    padding: .5rem;
    margin-bottom: 1rem;
    border-radius: 8px;
}

textarea:focus {
    border: none;
    outline: 2px solid #8BC34A;
    color: var(--primary-text)
}
#publications {
    padding: 1rem;
}

.post {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #BDBDBD;
    padding: 1.5rem 0;
}

.post:hover {
    background-color: #d1c4e943;
}

.post section {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin: .5rem
}

.user_data {
    width: 80%;
}

.user_data .date {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.name {
    color: var(--acent-color)
}

.day {
    color: var(--divider-color)
}

.user_info {
    display: flex;
    padding: 1rem;
}

.user_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--divider-color);
}

.user_content img {
    margin: 0 1rem;
}

.remove {
    background: red;
    opacity: .8;
	color: var(--text-icons);
	border: none;
	padding: .2rem;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    border-radius: 5px;
    box-shadow: 0px 2px 1px 0px #000000;

}

.remove:hover {
    opacity: 1;
}
.remove:active {
    transform: translateY(4px);
    box-shadow: none;

}