<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: rgb(178, 169, 169);
        }
        #root, #posts {
            display: flex;
        }
        .user {
            margin: 1rem;
            border: 1px solid #000;
            border-radius: 5px;
            padding: 0.75rem
        }
    </style>
</head>
<body>
    <h1>Users</h1>


    <form>
        <input id="name" type="text" placeholder="nome"><br>
        <input id="email" type="email" placeholder="email"><br>
        <input id="apartment" type="number" min="1" placeholder="n° do apartamento"><br>
        <input id="password" type="password" placeholder="senha"><br>

        <button id="btnCreate">:: Cadastrar ::</button>
    </form>

    <div id="root">
    </div>
    <hr>
    
    <textarea id='content' placeholder="comentário"></textarea><br>
    <input type="number" id="ape" min="1" placeholder="n° id user">
    <button id="btnCreatePubli">Publicar</button><br>
    
    <h1>Posts</h1>
    <div id="posts">
        <p id="resposta"></p>
    </div>

    <script src="script-back-test.js"></script>
</body>
</html>