<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="root"></div>

    <form>
        <input id="name" type="text" placeholder="nome"><br>
        <input id="email" type="email" placeholder="email"><br>
        <input id="apartment" type="number" min="1" placeholder="n° do apartamento"><br>
        <input id="password" type="password" placeholder="senha"><br>

        <button id="btnCreate">:: Cadastrar ::</button>
    </form>

    <script src="script.js"></script>
</body>
</html>