<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Create User</title>
</head>

<body>
   <main id="content">
    <form id="form">
        <img src="../assets/img/logo.png" id="logo" alt="parrot">
        <h5 id="answer">Cadastrar Usuário</h5>
        <input type="text" id="name" placeholder="Name">
        <input type="email" id="email" placeholder="Email">
        <input type="password" id="password" placeholder="Password">
        <input type="password" id="checkpswd" placeholder="Check Password">
        <input type="number" min="1" id="apartment" placeholder="Apartment">
        <button id="create">Cadastrar</button>
    </form>
   </main>

   <script src="../assets/js/create.js"></script>
</body>
</html>