<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Editar Usuário</title>
</head>

<header>
    <section>
        <a href="./feed.html">
        <img src="../assets/img/parrot-header.png" alt="parrot logo" id="logo-header">
        </a>
    </section>

    <section>
        <a href="./profile.html"><h4 id="name_user">Olá, usuário</h4></a>
        <a href="" id="getOut">Sair</a>
    </section>
</header>

<body>
   <main id="content">
    <form id="form">
        <img src="../assets/img/logo.png" id="logo" alt="parrot">
        <h5 id="answer">Editar Usuário</h5>
        <input type="text" id="name" placeholder="Nome">
        <input type="email" id="email" placeholder="Email">
        <input type="password" id="password" placeholder="Senha">
        <input type="password" id="checkpswd" placeholder="Senha">
        <input type="number" min="1" id="apartment" placeholder="Apartamento">
<div>
    <button id="create">Editar conta</button>
    <button id="remove">Remover conta</button>
</div>
    </form>
   </main>

   <script src="../assets/js/edit.js"></script>
</body>
</html>