<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Parrot</title>
</head>

<body>
    <header>
        <section>
            <a href="./feed.html">
            <img src="../assets/img/parrot-header.png" alt="parrot logo" id="logo-header">
            </a>
        </section>

        <section>
            <a href="./profile.html"><h4 id="name_user">Olá, usuário</h4></a>
            <a href="" id="getOut">Sair</a>
        </section>
    </header>


    <main>
        <section id="container">
            <section id="message_content">
                <section>
                    <img src="../assets/img/user.png" alt="user" id="user_logo">
                    <textarea id="message"></textarea>
                </section>
                <a href="" id="publicate">Post</a>
            </section>

            <section id="publications">
                <img class="loading" src="../assets/img/loading.gif" alt="loading" width="60px">
                <p class="answer"></p>
            </section>
        </section>
    </main>

<script src="../assets/js/feed.js"></script>
</body>

</html>