<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Perfil</title>
</head>

<body>
    <header>
        <section>
        <a href="./feed.html">
            <img src="../assets/img/parrot-header.png" alt="parrot logo" id="logo-header">
        </a>
        </section>

        <section>

                <h4 id="name_user">Olá, usuário</h4>
  
            <a href="" id="getOut">Sair</a>
        </section>
    </header>


    <main>
        <section id="container">
            <section class="user_content">
                <section class="user_info">
                    <img src="../assets/img/user.png" alt="user" id="user_logo">
                    <section>
                        <h3 class="name">Nome</h3>
                        <p class="ape">Apê - </p>
                        <p class="email">E-mail</p>
                    </section>
                </section>
                <a href="./edit.html" id="publicate">Editar</a>
            </section>

            <section id="publications">
                <img class="loading" src="../assets/img/loading.gif" alt="loading" width="60px">
                <p class="answer"></p>
            </section>
        </section>
    </main>

    <script src="../assets/js/profile.js"></script>
</body>

</html>