@import 'bootstrap/dist/css/bootstrap.min.css';

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../assets/background.png');
    height: 100%;
}

#main-container {
    background-color: #FFF;
    width: 25%;
    padding: 5%;;
    align-items: center;
}

#main-container form h1 {
    font-family: 'Questrial', sans-serif;
    font-size: 24px;
    margin-bottom: 5%;
}

.input-cadastro {
    margin-top: 5%;
    text-align: center;
    width: 300px;
    border: 1px solid #909090;
    border-radius: 8px;
}
